<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>Index of my Skills</title>
</head>
<body>

	<a href="/skills">&lt; Back</a>
	<h2><%= title %></h2>
	<form action="/skills" method="POST">
		<input type="text" name="name" placeholder="new skill">
		<select type="text" name="level" >
  			<option value="locked" >locked</option>
  			<option value="in progress">in progress</option>
  			<option value="unlocked" >unlocked</option>
		</select>
		<select type="text" name="comfort" >
  			<option >★★★★★</option>
  			<option >★★★★</option>
  			<option >★★★</option>
			<option >★★</option>
  			<option >★</option>
			<option >none</option>
		</select>
		<button type="submit">Save Skill</button>
	</form>

</body>
</html>